alembic==1.12.0
fastapi==0.103.1
fastapi_filter==0.6.1
pydantic==1.10.12
pyodbc==4.0.39
httpx==0.24.1
pytest==7.4.1
pytest-cov==4.1.0
pytest-html==4.0.0
pytest-order==1.1.0
pytest-reportlog==0.4.0
python-multipart==0.0.6
PyYAML==6.0.1
requests==2.31.0
SQLAlchemy==2.0.20
sqlalchemy-utils==0.41.1
uvicorn==0.23.2
